<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cscb07app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cscb07app">
        <activity
            android:name=".owner.store_manager.EditStoreInfoActivity"
            android:parentActivityName=".owner.store_manager.StoreManagerActivity"
            android:label="@string/title_activity_edit_store_info"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerSettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerHomeActivity" />
        </activity>
        <activity
            android:name=".customer.CustomerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".owner.store_manager.StoreManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_store_manager"
            android:parentActivityName=".owner.OwnerHomeActivity" />
        <activity
            android:name=".owner.customer_orders.CustomerOrdersActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".owner.OwnerHomeActivity" />
        </activity>
        <activity
            android:name=".owner.OwnerHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_owner_home" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>